{{define "stylesheet"}}
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"></link>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/vendor/fomantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/application.css"></link>
{{end}}

{{define "javascript"}}
    <script src="/static/javascript/vendor/jquery.min.js"></script>
    <script src="/static/javascript/vendor/fomantic.min.js"></script>
    <script src="/static/javascript/application.js"></script>
{{end}}
