{{define "head"}}
{{end}}

{{define "main"}}
	<main class="plataform ninety percent height">
		<div class="ui plataform one hundred percent height divided grid">
			<div class="sixteen wide column">
					<div class="row">
						<div class="ui container">
							<div class="ui placeholder padded segment">
								<div class="ui middle center aligned grid">
									<div class="row">
										<h1 class="ui header">
											<i class="orange sign in icon"></i>
											<div class="content">
												{{translate .locale "auth.signup.title"}}
												<div class="sub header">{{translate .locale "auth.signup.subtitle"}}</div>
											</div>
										</h1>
									</div>
								</div>
								<div class="ui divider"></div>
									<div class="ui icon message">
										<i class="check icon"></i>
										<div class="content plataform text justify">
											<p>{{translate .locale "auth.signup.success"}}</p>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{{end}}

{{define "footer"}}
{{end}}
